.about{
    position: absolute;
    z-index: 7;
    top: 0;
    left: 0;
    
    color: var(--textColor);
    width: 100vw;
    height: 300vh;
    top: 0vh;
    transition: 1.5s ease-in;
    overflow-y: hidden;
}

.about::-webkit-scrollbar{
    width: 0;
}

.about-abp-container, .about-tg-container{
    width: 100vw;
    height: 100vh;
    position: relative;
    padding-left: 15vmin;
    padding-right: 15vmin;
    padding-top: 5vmin;
    padding-bottom: 5vmin;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-gap: 2%;
}

.about-sbp-title, .about-tg-title{
    font-size: 7vmin;
    width: 100%;
    position: relative;
}


.about-sbp, .about-tg{
    padding-top: 5vmin;
    padding-left: 5vmin;
    padding-right: 5vmin;
}
.about-sbp-content, .about-tg-content{
    font-size: 2vmin;
    padding-top: 3vmin;
    text-align: justify;
}

.about-sbp-ani{
    height: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.about-logo{
    top: calc(50vh - 15vw);
    left: calc(50vw + 5vw) ;
    width: 30vw;
    height: 30vw;
}

.show-tg{
    top: -100vh;
}

@media screen and (max-width: 700px){
    .about-abp-container, .about-tg-container{
        padding-top: 5vmin;
        display: flex;
        flex-direction: column;
    }
    .about-sbp-content, .about-tg-content{
        font-size: 3vw;
        padding-top: 3vmin;
    }
    .about-sbp, .about-tg{
        padding-left: 0vmin;
        padding-right: 0vmin;
    }

    .about-sbp-ani{
        height: 30vmin;
    }

    .about-logo{
        top: calc(50vh + 15vw);
        left: calc(50vw - 15vw);
        width: 30vw;
        height: 30vw;
    }
}

@media screen and (min-width: 1000px){
    .about-sbp, .about-tg{
        padding-top: 20vmin;
    }
}