*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    
    --pink: #ff7bac;
    --orange: #fbb03b;
    --blue: #87ceeb;
    --backgroundColor: white;
    --textColor: dimgrey;
    --boxShadowColor: grey;
    --lbFirstColor: #fcc875d8;
    --lbSecondColor: #fa87b1d0;
    --lbThirdColor: #a8e1f7d7;
    --lbBackgroundColor: rgba(255,255,255,0.8);
    --winBannerBackground: white;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: var(--backgroundColor);
    transition: 0.5s ease-in;
}

section{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.theme-btn{
    position: absolute;
    z-index: 8;
    height: 10vmin;
    width: 10vmin;
    right: 2.5vmin;
    top: 2.5vmin;
    cursor: pointer;
}

.dashboard {
    height: 15vmin;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 3;
}

.clock, .moves{
    width: 20vmin;
    height: 10vmin;
    position: absolute;    
    top: 2.5vmin;
    color: var(--textColor);
    box-shadow: 0 0 5px var(--boxShadowColor);
    border-radius: 1vw;
    text-align: center;
    font-size: 5vmin;
    padding: 2vmin;
    font-weight: bold;
    transition: 0.5s ease-in;
    opacity: 1;
}

.clock{
    left: calc(50vw - 25vmin);
}
.moves{
    right: calc(50vw - 25vmin);
}

.win-clock, .win-moves{
    top: calc(50vh + 5vmin);
    z-index: 8;
}

.container{
    width: 80vmin;
    height: 80vmin;
    /*background-color: var(--backgroundColor);*/
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vmin;
    z-index: 1;
    -webkit-user-drag: none;
}

.block{
    width: 19vmin;
    height: 19vmin;
    position: absolute;
    margin: 1vmin;
    box-shadow: 0 0 5px var(--boxShadowColor);
    border-radius: 3%;
    font-size: 5vmin;
    text-align: center;
    padding-top: 9%;
    opacity: 0;
    color: var(--textColor);
    transition: 0.3s ease;
    -webkit-user-drag: none;
}

.block-1, .block-5, .block-9, .block-13{
    left: 0;
    transform: translate(30px, -20px);
}

.block-2, .block-6, .block-10, .block-14{
    left: 25%;
    transform: translate(-20px, 30px);
}
.block-3, .block-7, .block-11, .block-15{
    left: 50%;
    transform: translate(-30px, -20px);
}
.block-4, .block-8, .block-12, .block-16{
    left: 75%;
    transform: translate(20px, 30px);
}


.block-1, .block-2, .block-3, .block-4{
    top: 0%;
}

.block-5, .block-6, .block-7, .block-8{
    top: 25%;
}

.block-9, .block-10, .block-11, .block-12{
    top: 50%;
}

.block-13, .block-14, .block-15, .block-16{
    top: 75%;
}

.display-block{
    transform: translate(0px, 0px);
    opacity: 1;
}

.preparing::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 2;
    -webkit-user-drag: none;
}


.win-banner{
    position: absolute;
    z-index: 7;
    top:0;
    left: 0;
    visibility: visible;
    opacity: 1;
    transition: 0.5s ease-in;
}
.you-win{
    position: relative;
    width: 50vmin;
    left: calc(50vw - 25vmin);
    top: calc(40vh - 12.5vmin);
}

.you-win::before{
    content: '';
    position: absolute;
    z-index: -1;
    width: calc(50vmin + 6px);
    left: -3px;
    top: -3px;
    height: calc(25vmin + 6px);
    background-image: linear-gradient( to left, var(--pink), var(--blue), var(--orange), var(--pink), var(--blue), var(--orange), var(--pink), var(--blue), var(--orange), var(--pink));
    background-size: 600%;
    border-radius: 3vmin;
    filter: blur(5px);
    animation: background-changing 80s infinite;
}

.you-win-svg {
    fill: var(--winBannerBackground);
    transition: 0.5s ease-in;
}

.win-animation{
    position: absolute;
    z-index: -2;
    width: 100vmin;
    top: calc(40vh - 26vmin);
    left: calc(50vw - 50vmin);
}

.leaderboard{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 7;
    overflow-y: scroll;
    background-color: var(--backgroundColor); 
    text-align: center;
    color: var(--textColor);
}

.leaderboard::-webkit-scrollbar{
    width: 0;
}
.lb-title{
    position: fixed;
    width: 100vw;
    height: 20vh;
    top: 0;
    z-index: 1;
    background-color: var(--lbBackgroundColor);
    box-shadow: 0 0 5px var(--boxShadowColor);
    transition: 0.5s ease-in;
}
.lb-title p{
    font-size: 8vmin;
    height: 10vh;
    line-height: 10vh;
}

.lb-title > div{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 20vw 20vw 20vw;
    grid-gap: 2vw;
    height: 10vh;
    line-height: 10vh;
    font-size: 3vmin;
    padding-left: 18vw;
}

.lb-content{
    width: 100vw;
    height: auto;
    margin-top: 20vh;
    padding-top: 5px;
}
.lb-content > p{
    padding-top: 20vh;
    font-size: 4vmin;
}
.lb-content > div{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 20vw 20vw 20vw;
    grid-gap: 2vw;
    height: 8vh;
    line-height: 8vh;
    font-size: 2vmin;
    margin: 5px;
    margin-left: 18vw;
    width: 64vw;
    transition:  0.5s ease-out;
}

.lb-content > div:first-child{
    background-color: var(--lbFirstColor);
    height: 10vh;
    line-height: 10vh;
}

.lb-content > div:nth-child(2){
    background-color: var(--lbSecondColor);
    height: 9vh;
    line-height: 9vh;
}

.lb-content > div:nth-child(3){
    background-color: var(--lbThirdColor);
    height: 8vh;
    line-height: 8vh;
}

.lb-content-hide{
    transform: translate(-5vw, -10px);
    opacity: 0;
}

.pink-color-block{
    color: var(--pink);
    box-shadow: 0 0 5px var(--pink);
}

.blue-color-block{
    color: var(--blue);
    box-shadow: 0 0 5px var(--blue);
}

.orange-color-block{
    color: var(--orange);
    box-shadow: 0 0 5px var(--orange);
}

.hide-d{
    display: none;
}

.hide-v{
    visibility: hidden;
}

.hide-o{
    opacity: 0;
}

@keyframes background-changing {
    0% {
        background-position: 0%;
      }
    
      100% {
        background-position: 600%;
      }
}

@media screen and (max-width: 700px){
    .dashboard{
        padding-left: 10vmin;
        padding-right: 10vmin;
    }

    .clock, .moves{
        top: calc(50vh - 60vmin)
    }

    .container{
        margin-top: calc(50vh - 40vmin);
    }
}

@media screen and (min-width: 1000px){
    .dashboard{
        padding-left: 30vw;
        padding-right: 30vw;
    }
}